@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* =============================== */



.header{
    margin: 60px 100px;
    height: 100vh;
}

/* ------ Shared styles ------- */

.primary-color{
    color: #3A3A3A;
}

.primary-btn{
    padding: 15px 30px;
    border: 0;
    border-radius: 41px;
    background: #E02C6D;
    font-weight: 700;
    color: #fff;
    cursor: pointer;

}

/* ------- Nav styles ------- */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.nav-title h1{
    font-size: 24px;
    font-weight: 700;
}

.nav-items ul{
    display: flex;
    list-style: none;
    
}

.nav-items li{
    margin-right: 50px;
    cursor: pointer;
    
}

.nav-items a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

/* ------- Banner styles ------- */

.banner{
    margin-top: 50px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-txt-area{
    width: 570px;
}

.banner-title{
    font-size: 52px;
    font-weight: 700;
}
.banner-description{
    margin: 20px 0;
}

.banner-images{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 95%;
    margin-right: 30px;
}
.banner-photo{
    width: 95%;
}

.banner-btn{
    margin-top: 20px;
}